[submodule "GameShell"]
	path = GameShell
	url = https://github.com/phyver/GameShell.git
[submodule "sql-mysteries"]
	path = sql-mysteries
	url = https://github.com/NUKnightLab/sql-mysteries
[submodule "--force"]
	path = git-game-v2
	url = https://github.com/git-game/git-game-v2
