[submodule "GameShell"]
	path = GameShell
	url = https://github.com/phyver/GameShell.git
[submodule "git-game-v2"]
	path = git-game-v2
	url = https://github.com/git-game/git-game-v2
[submodule "sql-mysteries"]
	path = sql-mysteries
	url = https://github.com/NUKnightLab/sql-mysteries
